<footer>
  <div class="footer-top">
    <div class="footer-column">
      <h4 class="footer-column__title">{{footer.info.title}}</h4>
      <ul class="footer-column-list">
        <li class="footer-column-list__item">{{footer.info.items.1}}</li>
        <li class="footer-column-list__item">{{footer.info.items.2}}</li>
        <li class="footer-column-list__item">{{footer.info.items.3}}</li>
        <li class="footer-column-list__item">{{footer.info.items.4}}</li>
        <li class="footer-column-list__item">{{footer.info.items.5}}</li>
        <li class="footer-column-list__item">{{footer.info.items.6}}</li>
        <li class="footer-column-list__item">{{footer.info.items.7}}</li>
        <li class="footer-column-list__item">{{footer.info.items.8}}</li>
      </ul>
    </div>
    <div class="footer-column">
      <h4 class="footer-column__title">{{footer.support.title}}</h4>
      <ul class="footer-column-list">
        <li class="footer-column-list__item">{{footer.support.items.1}}</li>
        <li class="footer-column-list__item">{{footer.support.items.2}}</li>
        <li class="footer-column-list__item">{{footer.support.items.3}}</li>
      </ul>
    </div>
    <div class="footer-column">
      <h4 class="footer-column__title">{{footer.service.title}}</h4>
      <ul class="footer-column-list">
        <li class="footer-column-list__item">{{footer.service.items.1}}</li>
        <li class="footer-column-list__item">{{footer.service.items.2}}</li>
        <li class="footer-column-list__item">{{footer.service.items.3}}</li>
        <li class="footer-column-list__item">{{footer.service.items.4}}</li>
        <li class="footer-column-list__item">{{footer.service.items.5}}</li>
        <li class="footer-column-list__item">{{footer.service.items.6}}</li>
      </ul>
    </div>
    <div class="footer-column">
      <h4 class="footer-column__title">{{footer.deepmag.title}}</h4>
      <ul class="footer-column-list">
        <li class="footer-column-list__item">{{footer.deepmag.items.1}}</li>
        <li class="footer-column-list__item">{{footer.deepmag.items.2}}</li>
        <li class="footer-column-list__item">{{footer.deepmag.items.3}}</li>
        <li class="footer-column-list__item">{{footer.deepmag.items.4}}</li>
        <li class="footer-column-list__item">{{footer.deepmag.items.5}}</li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <span class="footer-bottom__item">{{footer.rights}}</span>
    <span class="footer-bottom__item">{{footer.privacy}}</span>
  </div>
</footer>
