<header class="header">
  <div class="header_top">
    <div class="header_top_contacts">
      <div class="header_top_contacts_email">
        <img
          src="/public/icons/e-mail.png"
          alt="Email"
          class="header_top_contacts_email_icon"
        />
        <span>support@deepmag.ru</span>
      </div>
      <div class="header_top_contacts_phone">
        <img
          src="/public/icons/phone.png"
          alt="Phone"
          class="header_top_contacts_phone_icon"
        />
        <span>+7 (919)-123-456-56</span>
      </div>
      <div class="header_top_contact_whatsapp">
        <img
          src="/public/icons/whatsapp.png"
          alt="WhatsApp"
          class="header_top_contact_whatsapp_icon"
        />
        <span>Напишите нам в WhatsApp</span>
      </div>
    </div>
    <div class="header_top_settings">
      <div class="header_top_settings_change-theme">
        <img src="/public/icons/sparkles.svg" alt="Change Theme" />
        <button>Сменить тему</button>
      </div>
      <div class="header_top_settings_vision-support">
        <img src="/public/icons/vision.png" alt="Vision Support" />
        <button>Слабовидящим</button>
      </div>
      <div class="header_top_settings_change-language">
        <img src="/public/icons/translation.png" alt="Change Language" />
        <button>Сменить язык</button>
      </div>
    </div>
    <div class="header_top_other">
      <div class="header_top_delivery">
        <img src="/public/icons/mask.png" alt="Delivery" />
        <span>Бесконтактная доставка</span>
      </div>
    </div>
  </div>
  <div class="header_bottom">
    <div class="header_bottom_logo_wrapper">
      <img
        src="/public/logos/logo.png"
        alt="DEEPMAG"
        class="header_bottom_logo"
      />
    </div>
    <div class="header_bottom_search_wrapper">
      <input type="text" class="header_bottom_search" placeholder="Поиск" />
    </div>
    <div class="header_bottom_profile">
      <div class="header_bottom_profile_login">
        <span>Вход/регистрация</span>
        <img src="/public/icons/login.png" alt="Login" />
      </div>
      <div class="header_bottom_profile_favorites">
        <img src="/public/icons/fav.png" alt="Favorites" />
      </div>
      <div class="header_bottom_profile_cart">
        <img src="/public/icons/cart.png" alt="Cart" />
      </div>
    </div>
  </div>
</header>
