<header class="header">
  <div class="header-top">
    <div class="header-top__item">
      <img src="/public/icons/email.svg" alt="Email" class="header-top__icon" />
      <span>support@deepmag.ru</span>
    </div>
    <div class="header-top__item">
      <img src="/public/icons/phone.svg" alt="Phone" class="header-top__icon" />
      <span>+7 (919)-123-45-56</span>
    </div>
    <div class="header-top__item">
      <img
        src="/public/icons/whatsapp.svg"
        alt="WhatsApp"
        class="header-top__icon"
      />
      <span>WhatsApp</span>
    </div>
    <div id="theme-toggle" class="header-top__item">
      <img
        src="/public/icons/sparkles.svg"
        alt="Change Theme"
        class="header-top__icon"
      />
      <span>{{header.changeTheme}}</span>
    </div>
    <div id="accessibility-settings" class="header-top__item">
      <img
        src="/public/icons/vision.png"
        alt="Vision Support"
        class="header-top__icon"
      />
      <span>{{header.accessibility}}</span>
    </div>
    <div id="lang-toggle" class="header-top__item">
      <img
        src="/public/icons/translation.png"
        alt="Change Language"
        class="header-top__icon"
      />
      <span>{{header.changeLanguage}}</span>
    </div>
    <div class="header-top__item">
      <img
        src="/public/icons/mask.svg"
        alt="Delivery"
        class="header-top__icon"
      />
      <span>{{header.contactlessDelivery}}</span>
    </div>
  </div>
  <div class="header-bottom-mobile">
    <div class="header-bottom__item header-bottom-mobile__menu">
      <img
        src="/public/icons/menu.svg"
        alt="menu"
        class="header-bottom-mobile__icon"
      />
    </div>
    <div class="header-bottom__item logo-wrapper">
      <img
        src="/public/logos/logo.png"
        alt="DEEPMAG"
        class="header-bottom__logo"
        data-navigate="/"
      />
    </div>
    <div class="header-bottom__item header-search__wrapper">
      <input
        type="text"
        class="header-search"
        placeholder="{{header.searchPlaceholder}}"
      />
    </div>
  </div>
  <div id="mobile-menu-overlay" class="mobile-menu-overlay">
    <div class="mobile-menu-overlay__top">
      <img
        id="mobile-menu-close"
        src="/public/icons/close.svg"
        alt="Close Menu"
        class="mobile-menu-overlay__close"
      />
      <div class="mobile-menu-overlay__profile">
        <div class="header-profile__item">
          <img
            src="/public/icons/login.svg"
            alt="Login"
            class="header-profile__icon"
            data-navigate="/login"
          />
        </div>
        <div class="header-profile__item">
          <img
            src="/public/icons/trash.svg"
            alt="Clear Storage"
            class="header-profile__icon"
            id="overlay-clear-storage"
          />
        </div>
        <div class="header-profile__item">
          <img
            src="/public/icons/cart.svg"
            alt="Cart"
            class="header-profile__icon"
            data-navigate="/checkout"
          />
        </div>
      </div>
    </div>
    <nav class="mobile-menu-overlay__nav">
      <form
        id="overlay-gender-selection"
        class="header-navigation__item mobile-menu-overlay__genders"
      >
        <input
          class="header-navigation__option"
          type="radio"
          id="overlay-women"
          value="women"
        />
        <label for="overlay-women" class="header-navigation__option-label"
          >{{genders.women}}</label
        >
        <input
          class="header-navigation__option"
          type="radio"
          id="overlay-men"
          value="men"
        />
        <label for="overlay-men" class="header-navigation__option-label"
          >{{genders.men}}</label
        >
        <input
          class="header-navigation__option"
          type="radio"
          id="overlay-kids"
          value="kids"
        />
        <label for="overlay-kids" class="header-navigation__option-label"
          >{{genders.kids}}</label
        >
      </form>
      <form
        id="overlay-category-selection"
        class="header-navigation__item mobile-menu-overlay__categories"
      >
        <input
          class="header-navigation__option"
          type="radio"
          id="overlay-clothes"
          value="clothes"
        />
        <label for="overlay-clothes" class="header-navigation__option-label"
          >{{categories.clothes}}</label
        >
        <input
          class="header-navigation__option"
          type="radio"
          id="overlay-shoes"
          value="shoes"
        />
        <label for="overlay-shoes" class="header-navigation__option-label"
          >{{categories.shoes}}</label
        >
        <input
          class="header-navigation__option"
          type="radio"
          id="overlay-accessories"
          value="accessories"
        />
        <label for="overlay-accessories" class="header-navigation__option-label"
          >{{categories.accessories}}</label
        >
        <input
          class="header-navigation__option"
          type="radio"
          id="overlay-underwear"
          value="underwear"
        />
        <label for="overlay-underwear" class="header-navigation__option-label"
          >{{categories.underwear}}</label
        >
      </form>
    </nav>
    <div class="mobile-menu-overlay__logo">
      <img
        src="/public/logos/logo.png"
        alt="DEEPMAG"
        class="header-bottom__logo"
        data-navigate="/"
      />
    </div>
  </div>
  <div class="header-bottom">
    <div class="header-bottom__item">
      <img
        src="/public/logos/logo.png"
        alt="DEEPMAG"
        class="header-bottom__logo"
        data-navigate="/"
      />
    </div>
    <div class="header-bottom__item header-search__wrapper">
      <input
        type="text"
        class="header-search"
        placeholder="{{header.searchPlaceholder}}"
      />
    </div>
    <div class="header-bottom__item header-profile">
      <div class="header-profile__item">
        <img
          src="/public/icons/login.svg"
          alt="Login"
          class="header-profile__icon"
          data-navigate="/login"
        />
      </div>
      <div class="header-profile__item">
        <img
          src="/public/icons/trash.svg"
          alt="Clear Storage"
          class="header-profile__icon"
          id="clear-storage"
        />
      </div>
      <div class="header-profile__item">
        <img
          src="/public/icons/cart.svg"
          alt="Cart"
          class="header-profile__icon"
          data-navigate="/checkout"
        />
      </div>
    </div>
  </div>
  <nav class="header-navigation">
    <form id="gender-selection" class="header-navigation__item">
      <input
        class="header-navigation__option"
        type="radio"
        id="women"
        value="women"
      />
      <label for="women" class="header-navigation__option-label"
        >{{genders.women}}</label
      >
      <input
        class="header-navigation__option"
        type="radio"
        id="men"
        value="men"
      />
      <label for="men" class="header-navigation__option-label"
        >{{genders.men}}</label
      >
      <input
        class="header-navigation__option"
        type="radio"
        id="kids"
        value="kids"
      />
      <label for="kids" class="header-navigation__option-label"
        >{{genders.kids}}</label
      >
    </form>
    <form
      id="category-selection"
      class="header-navigation__item header-navigation__categories"
    >
      <input
        class="header-navigation__option"
        type="radio"
        id="clothes"
        value="clothes"
      />
      <label for="clothes" class="header-navigation__option-label"
        >{{categories.clothes}}</label
      >
      <input
        class="header-navigation__option"
        type="radio"
        id="shoes"
        value="shoes"
      />
      <label for="shoes" class="header-navigation__option-label"
        >{{categories.shoes}}</label
      >
      <input
        class="header-navigation__option"
        type="radio"
        id="accessories"
        value="accessories"
      />
      <label for="accessories" class="header-navigation__option-label"
        >{{categories.accessories}}</label
      >
      <input
        class="header-navigation__option"
        type="radio"
        id="underwear"
        value="underwear"
      />
      <label for="underwear" class="header-navigation__option-label"
        >{{categories.underwear}}</label
      >
    </form>
    <div class="header-navigation__item" />
  </nav>
</header>
